@media (min-width: 600px) and (max-width: 781px) {
	.wp-block-post-template.is-layout-grid.is-layout-grid.is-layout-grid.columns-3 {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}

@media (max-width: 599px) {
	.wp-block-post-template.is-layout-grid.is-layout-grid.is-layout-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
	}
}
