.wp-block-my-parks-park-maps {
	.park-maps-editor-placeholder {
		border: 1px dashed #ccc;
		border-radius: 4px;
		padding: 16px;
		color: #666;
		font-style: italic;
		text-align: center;
		margin: 0;
	}
}
